#table {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border: 5px dashed #000;
    padding: 10px;
}

#output_display {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    box-sizing: border-box;
    border: 5px dashed #000;
}

#judul_output {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    text-align: center;
    font-family: 'Kirang Haerang', cursive;
}

body {
    background-color: gainsboro;
}

#judul_input {
    font-family: 'Kirang Haerang', cursive;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: center;
}

.list-group-item {
    display: flex;
    justify-content: space-between
}

#search {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border: 5px dashed #000;
    padding: 10px;
}

#middle {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-bottom: 20px;
}

#kolom_signup {
    margin-left: 100px;
}

#kolom_list {
    margin-right: 100px;
}

#judul {
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
}

#cari {
    font-family: 'Kirang Haerang', cursive;
    text-align: center;
}

#footer {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 50px;
}

#kolomcari {
    margin-left: 100px;
}

#kolom_update {
    margin-right: 100px;
}

#table_update {
    padding: 20px;
    width: 800px;
    border: 5px dashed #000;
}

#judul_update {
    font-family: 'Kirang Haerang', cursive;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}